$cor-principal: #42B7D0;
$cor-secundaria: #A2CED8;
$tab-inativa: #84B0BA;
$branco: #FFFFFF;
$cinza-claro: #D9D9D9;
$cinza-escuro: #757575;
$fundo-claro: #ECECEC;
$cor-botao: #0094FF;
$fundo-escuro: #202124;
$detalhe-escuro: #171717;